body,html {
  margin: 0;
  padding: 0;
  font-family: 'Gothic A1', sans-serif;
  color: white;
}
img {
    max-width: 100%;
    max-height: 100%;
}
button {
  background-color: #DB202C;
  color: white;
  border-style: none;
  border-radius: 5px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.4rem;
  padding: 0 2.4rem;
}
.container {
  height: 100vh;
  background-color: #141414;
}
.home-page-container {
  height: 100vh;
  position: relative;
  background-image: url("assets/images/background1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  height: 5vh;
  padding: .4rem;
  display: flex;
  justify-content: space-between;
}
.landing-page,.signin-form {
  height: 82vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
}
.landing-page > *,
.signin-form > * {
  margin: 0.5rem 0;
}
.landing-main-header {
  font-size: 2rem;
}
.landing-main-subheader {
  font-size: 1.3rem
}
.landing-button, .signin-button {
  padding:  .4rem .8rem;
}
.signin-form {
  height: 60vh;
}
.signin-dropdown {
 border-radius: 5px;
 padding: 10px;
 text-align: center;
}
.signin-heading {
  font-size: 3rem;
  margin: 20px 0 0 20px;
}
.search-bar {
  background-color: #141414;
  border: 1px solid #141414;
  color: white;
  font-size: .9rem;
  transition-duration: 300ms;
  padding: 3px;
}
.search-bar:focus {
  background-color: rgb(105, 105, 105);
  color: white;
  border-style: none;
}
/* @media (min-width: 768px){

.landing-button {
  margin: 0.5rem 20%
}

}

@media (min-width: 1024px){

.landing-button {
  margin: 0.5rem 40%
}

}

@media (min-width: 1200px){



} */
